<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos blanditiis laborum molestiae alias aut mollitia
         voluptatibus, dolorum tenetur, repellendus eveniet officia ducimus. Vitae explicabo officiis repudiandae magnam doloribus esse quos?</p>
</body>
</html>